nav{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    color: aliceblue;
    display: flex;
    align-items:center ;
    justify-content:space-around;
   
}
a{
    color: aliceblue;
    text-decoration: none;
    
}
a:hover{
    background-color: aliceblue;
    color: black;
}